<div class="app-container">
  <div class="app-header">
    <mat-toolbar class="header-toolbar">
      <div class="toolbar-container">
        <div class="toolbar-title">Myself Naga Mounika</div>

        <div class="toolbar-list">
          <div>
            <button mat-flat-button class="header-toolbar-buttons" (click)="routeToChildComponents('about-myself')">About</button>
          </div>

          <div>
            <button mat-flat-button class="header-toolbar-buttons" (click)="routeToChildComponents('coding')">Coding</button>
          </div>

          <div>
            <button mat-flat-button class="header-toolbar-buttons" (click)="routeToChildComponents('gallery')">Gallery</button>
          </div>

          <div>
            <button mat-flat-button class="header-toolbar-buttons" (click)="routeToChildComponents('others')">Others</button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <div class="app-body">
    <router-outlet></router-outlet>
  </div>

  <div class="app-footer">
    <div class="social-media-icons">
      <a href="https://www.facebook.com/profile.php?id=100006442564286" target="_blank"><mat-icon  svgIcon="fb-icon" aria-hidden="false"></mat-icon></a>
    </div>
    <div class="social-media-icons">
      <a href="https://www.linkedin.com/in/naga-mounika-chitirala/" target="_blank"><mat-icon svgIcon="linkedin-icon" aria-hidden="false"></mat-icon></a>
    </div >
    <div class="social-media-icons">
      <a href="https://twitter.com/NagaMounika6" target="_blank"><mat-icon svgIcon="twitter-icon" aria-hidden="false"></mat-icon></a>
    </div>
    <div class="social-media-icons">
      <a href="https://www.instagram.com/naga_mounika_ch/" target="_blank"><mat-icon svgIcon="instagram-icon" aria-hidden="false"></mat-icon></a>
    </div>
    <div>
      <!--Github-->
    </div>
  </div>
</div>